
th {
    background-color: #e2741a;
    color: white;
  }
td {
    background-color: #c59906;
    color: white;
  }

table, th, td {
    border: 1px solid #e2741a;
  }
.form1 {
    width: 1000px;
    height: 650px;
    border: 3px solid rgb(184, 127, 22);
    background: rgb(216, 161, 60);
    position: relative;
    margin: 0 auto;
 
    
}  

img {
    width: 450px;
    height: 650px;
    float: left;
}